.search-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    @media screen and (min-width: 780px) {
    max-width: 1200px;
    justify-content: end;
}
}

.input-control {
    font-size: 18px;
    padding: 0.3em;
    border: 2px solid lightgrey;
    border-radius: 10px;
    margin: 0px;
    text-indent: 5px;
  }